<form method="post" action="/users">
  <h1>Add mood for Date</h1>
  <div>
    <div>
      {{!-- sleep & fatigue --}}
      <label>Date:</label>
      <input type="date" name="dailyDate">
    </div>
    <br>
    <label>Sleep Amount:</label>
    <input type="range" name="sleep" min="0" max="24">
  </div>
  <div>
    <label>Fatigue:</label>
    <input type="radio" name="fatigueYes" value="yes checked">Yes
    <input type="radio" name="fatigueNo" value="no">No
  </div>
  {{!-- moods --}}
  <br>
  <div>
    <label>
      <h3>Moods:</h3>
    </label>
    <label>Manic/Hypomanic:</label>
    <input type="range" name="manic" min="0" max="4" />
    <br>
    <label>Depressed:</label>
    <input type="range" name="depressed" min="0" max="4" />
  </div>
  <div>
    <label>Irritation:</label>
    <input type="range" name="irritation" min="0" max="4" />
  </div>

  <br>
  <div>
    <label>
      <h3>Meds:</h3>
    </label>
    <input type="checkbox" name="meds1">

  </div>
  <br>
  <div>
    <label>
      <h3>Drugs/Alcohol:</h3>
    </label>
    <input type="checkbox" name="drugs">
    <input type="checkbox" name="alcohol">
  </div>
  <br>
  {{!-- submit --}}
  <div>
    <input type="submit" value="Add Day" />
  </div>
  {{!-- end form --}}
</form>

{{!-- 
    form fields:
    sleep,
    fatigue,
    mood,
    meds,
    food,
    alcohol,
    exercise,
    irritation,
    drugs,
    caffeine,
    events,
    triggers --}}