<form method="post" action="/users">
  <h1>Add mood for Date</h1>
  <div>
    <label>Sleep</label>
    <input type="text" name="sleep" />
  </div>
  <div>
    <label>Email</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label>Name</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label>How can we help?</label>
    <textarea name="enquiry"></textarea>
  </div>
  <div>
    <input type="submit" value="Add Day" />
  </div>
</form>

{{!-- 
    form fields:
    sleep,
    fatigue,
    mood,
    meds,
    food,
    alcohol,
    exercise,
    irritation,
    drugs,
    caffeine,
    events,
    triggers --}}